<header class="header">
  <nav class="nav container ">
    <div class="brand">
      Decentralized Hosting
    </div>
    <ul>
      <li class="nav-item"><a class="nav-link" href="http://localhost:5000/sites">All Sites</a></li>
      <li class="nav-item"><a class="nav-link" href="http://localhost:5000/sites/mysites">My Sites</a></li>
      <li class="nav-item"><a class="nav-link" href="http://localhost:5000/frontend">Host New</a></li>
      <li class="nav-item"><p class="nav-link mb-0"> Logged In as <%= currentUser.Name %></p></li>
      <li class="nav-item">
        <form action="http://localhost:5000/users/logout" method="GET" >
          <button type="submit" class="nav-link mb-0"> Logout</button>
        </form>
      </li>
    </ul>
  </nav>
</header>