<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File upload</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
    <div class="wrapper">
        <h2>File Upload</h2>
        <form id="file-upload" action="/hostnew" method="POST">
            <i class="fas fa-cloud-upload-alt"></i>
            <input class="file-input" type="text" name="path" >
            <button class="submit">Submit</button>
        </form>
    </div>
    
</body>