<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File upload</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
    <div class="Main-heading" style="color: #fff; font-weight: bold; font-size:24px;text-align: center; text-transform: uppercase;">
        Decentralized Web Hosting / P2P hosting<br>
        <span style="font-size: 16px;">Enter your project file path and host you website on a peer network</span>
    </div>
    <div class="wrapper" style="margin-top: -100px;">
        <h2>File Upload</h2>
        <form id="file-upload" action="/hostnew" method="POST">
            <div>
                <label>
                    Enter New Name for website
                </label>
                <input type="text" />
            </div>
            <i class="fas fa-cloud-upload-alt"></i>
            <label for="path">Enter Project Path</label>
            <input class="file-input" type="text" name="path" style="background-color: transparent; padding:5px; border-radius: 4px; width: 90%; margin: 10px;">
            <button class="submit" style="background-color: #6990f2; padding:5px 10px; border: none; color:white;border-radius: 4px; cursor: pointer;">Host Website</button>
        </form>
    </div>
    
</body>